@import "~bootstrap/scss/bootstrap.scss";
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the list items */
ul ol li {
 display: flex;
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width: 100%;
}
li{
    padding: 10px;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

ol li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

ol li:hover {
  background: #ddd;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.btn {
    width: 1.5em;
    display: inline-block;
    border: none;
    background: red;
    border-radius: 35%;
    color: #fff;
    padding: 3px 2-1px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin: -4px;
    position: absolute;
    right: 25%;

  }
  .btn:hover {
    background: #666;
  }
  .hideBtn {
      visibility: hidden
  }
  .fa-angle-up{
      display: inline-block;
      padding: 5px;
    margin: -4px;
    border-radius: 20%;
    position: absolute;
    right: 23%;
  }
  .fa-angle-up:hover {
      background: #666;
  }
.todosTable{
    display:flex
}
.tabla{
    width: 100%;
    padding-top: 10px;
}


/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
